/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
    background-color:  #20252c;
}

main{
    margin: auto;
    height: 80vh;
}

h1,p{
    color: #fafafa;
}